{
  "parser": "babel-eslint",
  "rules": {
    "no-empty": "error",
    "no-extra-semi": "error",
    "semi": "error",
    "no-template-curly-in-string": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "quotes": [2, "single", { "avoidEscape": true }]
  }
}